.about {
	margin-bottom: 90px;

	&__title {
		font-weight: 600;
		font-size: 30px;
		@include h2;
		margin-bottom: 8px;
	}

	&__text {
		margin-bottom: 56px;
		width: 100%;
		max-width: 769px;
	}

	&__inner {
		display: flex;
		column-gap: 72px;

		&__item {
			&__img {
				display: block;
				width: 100%;
				margin-bottom: 8px;
			}

			&__text {
				width: 100%;
				max-width: 170px;
				text-align: center;
			}
		}
	}
}
