@import '../../variables';

.checkbox {
	position: relative;
	&--first {
		margin-bottom: 16px;
	}

	&--second {
		margin-bottom: 24px;
	}

	&__input {
		appearance: none;
		-webkit-appearance: none;
		position: absolute;
	}

	&__label {
		font-size: 15px;
		color: $secondary-color;

		padding-left: 30px;

		&:before {
			content: '';
			display: block;
			width: 24px;
			height: 24px;

			border: 1px solid $gray-color;
			position: absolute;
			top: -2px;
			left: 0;
			z-index: 1;

			transition: 0.1s ease-in-out;
		}

		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 11px;

			background: url('/img/checkmark.svg') center no-repeat;

			position: absolute;
			top: 5px;
			left: 5px;
			z-index: 2;
		}
	}
}

.checkbox__input:checked + .checkbox__label:before {
	background: url(/img/checkmark__confirmed.svg) center no-repeat;
	border: 1px solid $green-xmark;
}
