.inf__about {
	margin-bottom: 90px;

	&__inner {
		display: flex;
		column-gap: 30px;
		&-left {
			padding-top: 32px;
			padding-left: 32px;

			background-color: #c0edfb;

			width: 100%;
			max-width: 570px;

			&__title {
				font-weight: 600;
				font-size: 30px;

				margin-bottom: 8px;
			}

			&__text {
				margin-bottom: 24px;
			}
		}
		&-right {
			padding-top: 32px;
			padding-left: 32px;

			background-color: #d3f4ce;

			width: 100%;
			max-width: 570px;
			&__title {
				font-weight: 600;
				font-size: 30px;

				margin-bottom: 8px;
			}

			&__text {
				margin-bottom: 20px;
			}
		}
	}
}

&__btn {
	display: inline-block;
	color: #fff;
	padding: 16px 24px;
	background-color: #3e3e3e;
	margin-bottom: 40px;
}
