@import '../../variables';

.inf__about {
	margin-bottom: 90px;

	&__inner {
		display: flex;
		column-gap: 30px;

		&-left {
			padding-top: 32px;
			padding-left: 32px;

			background-color: $blue-color;

			width: 100%;
			max-width: 570px;

			&__title {
				@include h2;

				margin-bottom: 8px;
			}

			&__text {
				margin-bottom: 24px;
				line-height: $line-height-text;
			}
		}
		&-right {
			padding-top: 32px;
			padding-left: 32px;

			background-color: $green-color;

			width: 100%;
			max-width: 570px;
			&__title {
				@include h2;

				margin-bottom: 8px;
			}

			&__text {
				margin-bottom: 20px;
				line-height: $line-height-text;
			}
		}
	}
	&__btn {
		display: inline-block;
		color: $white;
		padding: 16px 24px;
		background-color: $main-color;
		margin-bottom: 40px;
	}
}
