.modal {
    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background: rgba(62, 62, 62, 0.3);

    &.show {
        display: flex;
    }
    &__dialog {
        width: 561px;
        height: 551px;
        background-color: #fff;
        margin: auto;

        padding: 40px;

        position: relative;
    }

    &__close {
        width: 20px;
        height: 20px;

        position: absolute;
        top: 14px;
        right: 14px;
        z-index: 5;

        transition: 0.3s ease;
        &:hover {
            transform: rotate(180deg);
        }
    }

    &__dialog__inner__title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;

        margin-bottom: 8px;
    }

    &__dialog__inner__text {
        margin-bottom: 24px;
        line-height: 24.75px;
    }

    &__dialog__inner__wrapper {
        display: flex;
        column-gap: 20px;
    }

    &__btn {
        display: block;

        text-transform: uppercase;
        text-align: center;

        width: 100%;
        height: 44px;

        background-color: #3e3e3e;
        color: white;
        font-size: 12px;

        transition: 0.3s linear;

        &:hover {
            border: #3e3e3e 1px solid;
            background-color: white;
            color: #3e3e3e;
        }

        margin-bottom: 16px;
    }

    &__dialog__inner__subtext {
        font-size: 12px;
        color: #808080;
        line-height: 19.8px;
    }

    // confirmed

    &__dialog--confirmed {
        width: 561px;
        height: 481px;
        margin: auto;

        background-color: #fff;

        padding: 40px;

        &__title {
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 8px;
        }

        &__text {
            margin-bottom: 180px;
            line-height: 24.75px;
        }

        &__suptext {
            max-width: 421px;
            width: 100%;
            line-height: 24.75px;
        }
    }

    // offer

    &__dialog--offer {
        display: flex;

        height: 610px;

        .input--half {
            margin-bottom: 12px;
        }
    }
}

.label {
    display: inline-block;
    margin-bottom: 4px;
}

.input {
    display: block;
    width: 100%;

    border: 1px solid #eaeaea;

    height: 49px;

    padding-left: 20px;

    transition: 0.3s linear;

    margin-bottom: 12px;

    &:focus {
        outline: none;
        border-color: #3e3e3e;
    }

    &:last-child {
        margin-bottom: none;
    }

    &--half {
        display: block;
        width: 230px;

        margin-bottom: 24px;
    }
}
